body {
  background-color:blue;
color:orange;
font-family:arial, barlow, times new roman;
margin:5% 10%; 
}
h1 {
  background-color: black; align-center>
}


.exp-header {
  background-color:green;
  text-transform: 
  border-top: 1px solid #dddddd;
border-bottom: 1px solid #dddddd
}
<!DOCTYPE html>
<html>
<body>

<h1>Hope you enjoyed my resume</h1>

<h2>&#128512;</h2>

</body>
</html>
